.content {
    margin-top: 10px;
    margin-bottom: 20px;
    /* margin-left: 330px; */
    width: 97%;
}
.c_title {
    font-size: 18px;
    font-weight: 500;
}
.c_abstract {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.c_body {
    line-height: 28px;
}
.c_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.c_btn > button {
    font-size: 16px;
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    background-color: #318ce7;
    outline: none;
    border: none;
    border-radius: 7px;
}
.c_btn > button:hover {
    cursor: pointer;
}