.logingoogle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg_img {
    width: 30px;
    margin-right: 10px;
}
.lg_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background-color: white;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    border: 0.5px solid grey;
    text-decoration: none;
    padding: 7px 5px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: #318ce7;
    box-shadow: 1px 1px 2px 2px lightgray;
}
.lg_button:hover {
    font-size: 21px ;
}
.text-decoration {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #4285F4;
}