.align {
    display: flex;
    margin: 0 10%;
    justify-content: center;
}
.main_left {
    flex: 0.2;
}
.main_mid {
    flex: 0.7;
}
.main_mid_left {
    flex: 0.8;
}
.main_right {
    flex: 0.2;
}